*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#header {
  height: 50vh;
  width: 100vw;
  background-color: #F08080;
  background-size: cover;
  float: center;
}

.title {
    text-align: center;
    float: left; 
    top: 20%;
    left: 20%;
    transform: translate(40%, 30%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
}

h1 {
  font-size: 4vw;
}



nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
#menu{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -1000px;
  top: 0;
  background-color:#708090;
  transition: 0.5s;
}

#menuButton{
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;

}

.profilePic{
  display: block;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
